.body {
    display: flex;
    height: 50px;
    margin: 7%;
    
}

.item {
    border: 1px solid grey;
    width: 85px;
    margin-right: 1%;
    padding-left: 1%;
    color: transparent;
    /* item들 사이에서 gap줄 때 이렇게 padding이랑 margin 상쇄시키면 전제적으로 중간에 맞네 */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.rateTextBox {
    text-align: center;
}